body {
  margin: 0;
}

.App {
  background-color: #f3e5ab;
  display: block;
}

.container {
  display: flex;
  height: 100vh;
}

.panel {
  background-color: #2b2f42;
  width: 20%;
  padding: 10px 0;
}
.search {
  font-size: 17px;
  color: white;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
  background: #394168;
}

.search:focus {
  background-color: transparent;
  border: solid 1px #3f53b6;
}

.btn,
.btn-close {
  background: #2b5b88;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 6px;
  font-size: 15px;
}

.btn-close {
  margin-right: 8px;
  background-color: red;
}

.btn:hover {
  background: #3d87cc;
}

.menu {
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.note {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.pinButton {
  background: #2b5b88;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.pinButton:hover {
  background-color: #3d87cc;
}

.content {
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  outline: none;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  background-color: transparent;
}

.editor-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor input,
.editor textarea {
  padding: 10px;
  width: 100%;
}

.editor {
  background-color: #f3e5ab;
  padding: 10px;
  width: 37%;
  display: flex;
  flex-direction: column;
}

.title {
  color: #000000;
  box-sizing: border-box;

  border: none;
  border-bottom: solid 2px rgb(7, 4, 4);
  margin-bottom: 20px;

  font-size: 32px;
  font-weight: bolder;
  outline: none;
  margin-left: 10px;

  background-color: transparent;
}

.activeNote {
  background-color: #2084e2;
}

.statusCodeContainer {
  color: #000000;
  height: 25px;
}

.navBar {
  display: flex;
  background-color: #000000;
  padding: 17px;
  color: #fff;
  font-size: 36px;
  justify-content: space-between;
}

.navBar div {
  display: flex;
}

.preview {
  background-color: #efd672;
  color: #000000;
  padding: 10px;
  width: 40%;
}
