body{
    margin: 0;
}

.container {
  background-color: #f3e5ab;
  display: flex;
  height: 100vh;
}

.panel {
  background-color: #2b2f42;
  width: 20%;
  padding: 10px 0;
}
.search {
  color: white;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 60%;
  background: #394168;
}

.search:focus {
  background-color: transparent;
  border: solid 1px #3f53b6;
}

.btn {
  background: #2b5b88;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #3d87cc;
}

.menu {
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
